<div id="wrapper" class="cl" style="width: 1080px; margin-bottom:20px;">
	<div class="forgetStep clearfix">
    	<div class="current">
        	<h4>01</h4>
            <p>输入账户名</p>
        </div>
        <em></em>
        <div>
        	<h4>02</h4>
            <p>验证身份</p>
        </div>
        <em></em>
        <div>
        	<h4>03</h4>
            <p>重置密码</p>
        </div>
        <em></em>
        <div>
        	<h4>04</h4>
            <p>完成</p>
        </div>
    </div>
</div>
