<!--{template common/iheader}-->
<div class="ad_left">
    <div class="ad_left_img_1"><!--{ad/custom_5}--></div>
    <div class="ad_left_img_2"><!--{ad/custom_5}--></div>
    <div class="ad_left_img_3"><!--{ad/custom_5}--></div>
    <div class="ad_left_img_4"><!--{ad/custom_5}--></div>
    <div class="ad_left_img_5"><!--{ad/custom_5}--></div>
    <div class="ad_left_img_6"><!--{ad/custom_5}--></div>
</div>

<style id="diy_style" type="text/css">#portal_block_4 {  margin-top:5px !important;margin-right:5px !important;margin-bottom:5px !important;margin-left:10px !important;}#portal_block_4 .dxb_bc {  margin:5px !important;}</style>
<div class="ad_top">
    <div class="ad_top_img"><!--{ad/custom_1}--></div>
    <div class="ad_top_img"><!--{ad/custom_2}--></div>
    <div class="ad_top_img"><!--{ad/custom_3}--></div>
    <div class="ad_top_img"><!--{ad/custom_4}-->
    <div class="ad_button" ><button style=" ">x</button></div>
    </div>
</div>

    <!--</div>&lt;!&ndash;[if lte IE 8]>-->
    <script src="template/wanpin123_2014110701/style/js/ie8.js" type="text/javascript"></script>
    <style>.about_popclose {
        display: none
    }</style>
    <!--[endif]-->
    <!--<div style="background-color: white">-->
<div style="width: 100%; margin: 0 auto">
        <div class="newsbg" id="news" style="margin-bottom:-40px;">
            <div class="news clearbox">
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">最新酒新闻<span>News</span></a>
                    </div>
                    <ul class="news_list" id="news_list">

                        <!--[diy=newslist1]--><div id="newslist1" class="area"><div id="frameqmR8uv" class="frame move-span cl frame-1"><div id="frameqmR8uv_left" class="column frame-1-c"><div id="frameqmR8uv_left_temp" class="move-span temp"></div><!--{block/4}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">寻找美酒 <span>陈年老酒</span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist2]--><div id="newslist2" class="area"><div id="framegEi6nt" class="frame move-span cl frame-1"><div id="framegEi6nt_left" class="column frame-1-c"><div id="framegEi6nt_left_temp" class="move-span temp"></div><!--{block/6}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box fr">
                    <div class="news_title">
                        <a href="#" title="">论坛<span></span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist3]--><div id="newslist3" class="area"><div id="framenxq47H" class="frame move-span cl frame-1"><div id="framenxq47H_left" class="column frame-1-c"><div id="framenxq47H_left_temp" class="move-span temp"></div><!--{block/7}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="newsbg" id="news2" style="margin-bottom:-40px;">
            <div class="news clearbox">
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">红酒销售方法<span>Methods</span></a>
                    </div>
                    <ul class="news_list" id="news_list">

                        <!--[diy=newslist4]--><div id="newslist4" class="area"><div id="frame8MubCo" class="frame move-span cl frame-1"><div id="frame8MubCo_left" class="column frame-1-c"><div id="frame8MubCo_left_temp" class="move-span temp"></div><!--{block/10}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">真假酒辨别 <span>real</span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist5]--><div id="newslist5" class="area"><div id="frame9MZxBe" class="frame move-span cl frame-1"><div id="frame9MZxBe_left" class="column frame-1-c"><div id="frame9MZxBe_left_temp" class="move-span temp"></div><!--{block/11}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box fr">
                    <div class="news_title">
                        <a href="#" title="">论坛月排行榜<span></span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist6]--><div id="newslist6" class="area"><div id="frame278hg6" class="frame move-span cl frame-1"><div id="frame278hg6_left" class="column frame-1-c"><div id="frame278hg6_left_temp" class="move-span temp"></div><!--{block/12}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="newsbg" id="news3" style="margin-bottom:-40px;">
            <div class="news clearbox">
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">白酒销售方法<span>Methods</span></a>
                    </div>
                    <ul class="news_list" id="news_list">

                        <!--[diy=newslist7]--><div id="newslist7" class="area"><div id="frame47yg89" class="frame move-span cl frame-1"><div id="frame47yg89_left" class="column frame-1-c"><div id="frame47yg89_left_temp" class="move-span temp"></div><!--{block/13}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">酒类人才招聘 <span></span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist8]--><div id="newslist8" class="area"><div id="frame5Lcg2i" class="frame move-span cl frame-1"><div id="frame5Lcg2i_left" class="column frame-1-c"><div id="frame5Lcg2i_left_temp" class="move-span temp"></div><!--{block/14}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box fr">
                    <div class="news_title">
                        <a href="#" title="">招商月排行榜<span></span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist9]--><div id="newslist9" class="area"><div id="framejPHJon" class="frame move-span cl frame-1"><div id="framejPHJon_left" class="column frame-1-c"><div id="framejPHJon_left_temp" class="move-span temp"></div><!--{block/15}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="newsbg" id="news3" style="margin-bottom:-40px;">
            <div class="news clearbox">
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">烈酒销售方法<span>Methods</span></a>
                    </div>
                    <ul class="news_list" id="news_list">

                        <!--[diy=newslist10]--><div id="newslist10" class="area"><div id="frame2hX6ro" class="frame move-span cl frame-1"><div id="frame2hX6ro_left" class="column frame-1-c"><div id="frame2hX6ro_left_temp" class="move-span temp"></div><!--{block/16}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">酒类知识 <span>Knowledge</span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist11]--><div id="newslist11" class="area"><div id="frame4im4Q8" class="frame move-span cl frame-1"><div id="frame4im4Q8_left" class="column frame-1-c"><div id="frame4im4Q8_left_temp" class="move-span temp"></div><!--{block/17}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box fr">
                    <div class="news_title">
                        <a href="#" title="">我的品酒日记<span>Notes</span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist12]--><div id="newslist12" class="area"><div id="frameEdMSJG" class="frame move-span cl frame-1"><div id="frameEdMSJG_left" class="column frame-1-c"><div id="frameEdMSJG_left_temp" class="move-span temp"></div><!--{block/18}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="newsbg" id="news3" style="margin-bottom:-10px;">
            <div class="news clearbox">
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">进口红酒招商<span>Methods</span></a>
                    </div>
                    <ul class="news_list" id="news_list">

                        <!--[diy=newslist13]--><div id="newslist13" class="area"><div id="frame51p9Nf" class="frame move-span cl frame-1"><div id="frame51p9Nf_left" class="column frame-1-c"><div id="frame51p9Nf_left_temp" class="move-span temp"></div><!--{block/19}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box z">
                    <div class="news_title">
                        <a href="#" title="">国产白酒招商 <span></span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist14]--><div id="newslist14" class="area"><div id="framexdelOG" class="frame move-span cl frame-1"><div id="framexdelOG_left" class="column frame-1-c"><div id="framexdelOG_left_temp" class="move-span temp"></div><!--{block/20}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
                <div class="news_line"></div>
                <div class="news_box fr">
                    <div class="news_title">
                        <a href="#" title="">其它酒类招商<span></span></a>
                    </div>
                    <ul class="news_list" id="news_list">
                        <!--[diy=newslist15]--><div id="newslist15" class="area"><div id="framezRe7N8" class="frame move-span cl frame-1"><div id="framezRe7N8_left" class="column frame-1-c"><div id="framezRe7N8_left_temp" class="move-span temp"></div><!--{block/21}--></div></div></div><!--[/diy]-->
                    </ul>
                </div>
            </div>
        </div>

</div>

    <!--</div>-->
    <div class="contactbg" id="contact" style="height:0px;"></div>


    

    <!--{template common/footer}-->